@import '../variables.scss';

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  background-color: $lightGrey;
}

main {
  margin: 1rem;
  display: flex;
  flex: 1 1;
  min-height: calc(100vh - 8rem);
}

aside {
  @media (min-width: 768px) {
    margin-right: 1rem;
    width: 25%;
  }

  h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
}

#history {
  list-style: none;

  @media (min-width: 768px) {
    flex-basis: 0;
    min-height: calc(100vh - 10rem);
    overflow: none;
  }
}

section.deck {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

input.wide {
  width: 100%;
}

#methods {
  display: flex;
  margin: 1rem 0;

  input[type=submit] {
    padding: 1px 6px;
  }
}

section.col-2 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;
  
  div {
    width: calc(50% - 0.5rem);
  }
}

textarea {
  display: block;
  height: 10rem;
  width: 100%;
  padding: 2px;
}

#headers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h2 {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  input {
    padding: 1px;
  }

  div {
    width: 100%;
  }
}

#json {
  background-color: $ultraLightGrey;
  border: 1px solid $darkGrey;
  flex: 1 1;
  flex-basis: 0;
  overflow: auto;
  padding: 1rem;

  h3 {
    font-size: 0.7rem;
    cursor: pointer;
  }
}

.response {
  font-size: 0.7rem;
  display: block;
  max-width: 50vw;
}